<% provide(:title, 'Home') %>
<h1><%= yield(:title) %></h1>
<p>
  This is the home page for the <a href="https://github.com/sashavtyurina/Sidekick"> <%= yield(:title) %> testing framework </a>
</p>
<p>
  created by the <a href="http://www.tochkak.ru"> TochkaK team </a>
</p>