<div class="center hero-unit">
  <h1>
    This is the home page for the <a href="https://github.com/sashavtyurina/Sidekick"> Sidekick testing framework </a>
  </h1>

  <h2>
    created by the <a href="http://www.tochkak.ru"> TochkaK team </a>
  </h2>
  <%= link_to "Add a bug!", '#', class: "btn btn-large btn-primary" %>
</div>