<footer class="footer">
  <small>
    <a href="https://github.com/sashavtyurina/Sidekick">Sidekick Testing Framework</a>
    by <a href="http://www.tochkak.ru">TochkaK</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About us",  about_path %></li>
      <li><a href="mailto:support@tochkak.ru?subject=Sidekick techsupport">Contact us</a></li>
    </ul>
  </nav>
</footer>